.filterWrapper {
  @apply bg-transparent bg-white overflow-hidden  h-fit;

  &[data-open="true"] {
    position: fixed;
    display: block;
    z-index: 999;
    height: 100vh;
    inset: 0;
    width: 100vw;
    background-color: white;
  }
}

.filterTitle {
  @apply bg-white flex items-center px-2  rounded shadow-sm;

  button {
    @apply flex  justify-between items-center w-full;
  }
}

.filterArea {
  @apply w-72 px-2 hidden md:static  py-4 border-2 md:border-none rounded md:flex md:flex-col;

  &[data-open="true"] {
    position: absolute;
    display: block;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: white;
  }

  .clearButton {
    @apply px-2 max-w-24 text-gray-900;
  }
}

.filterItemWrapper {
  @apply mb-4 md:mb-8 max-h-44 md:max-h-64 overflow-hidden;

  span {
    @apply block text-base mb-2 pl-2;
  }

  .filterItem {
    @apply flex flex-col md:gap-2 bg-gray-50 p-2 rounded shadow-md;

    .filterInput {
      @apply flex gap-2;
    }
  }
}

.filterItemSelect {
  @apply text-base max-h-44 md:my-4 overflow-y-scroll;
}

.brandsInput {
  @apply flex gap-2 px-2 rounded bg-gray-100 items-center;

  input {
    @apply outline-none border-none bg-gray-100;
  }
}

.checkbox {
  @apply flex gap-2 items-center;
}
